.m-container{
  text-align: center;
}
.m-questionHeader{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #d1e1fc;
}
.m-centered {
   display: inline-block;
}
.m-col{
  margin: 10px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 5px solid #a3c6ff;
}
.m-description {
  background: rgba(255,255,255,0.7);
  padding: 10px;
  color: black;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  left: 0px;
  width: 100%;
  font-size: 150%;
}
.m-bgImage{
  position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: 100%;
}
